.catalog
	&-header
		padding: 85px 0
		background-color: #FFF 
		position: relative
		z-index: 2 
		
		@media (max-width: 991px)
			padding: 40px 0
		
		.title
			color: $text
			margin-bottom: 39px
			+section-title()
			
			
	&-footer
		padding: 80px 0
		background-color: #FFF 
		
		@media (max-width: 991px)
			padding: 40px 0
			
	.tabs-controls
		&__item
			display: inline-block
			margin: 0 8px
			
			&.ui-state-active
				.button
					background-color: $red
					color: #fff 
					
	&.has-sidebar
		.catalog-body
			+flex($ai: flex-start)
		
		.catalog-sidebar
			width: 20%
		
		.catalog-content
			width: 80%
					

.catalog-sidebar
	background-color: #FFF 



.products-grid
	+flex()
	background-color: #FFF 
	
	@media (max-width: 1199px)
		align-items: stretch

	&-5
		.product-preview
			width: 20% 
			
			@media (max-width: 1199px)
				width: 25%
			
			@media (max-width: 991px)
				width: 33.33333%
			
			@media (max-width: 599px)
				width: 50%
	
	&-4
		.product-preview
			width: 25% 