.filter
	text-align: left
	border-bottom: 1px solid #eee
	
	&.open
		padding-bottom: 25px 
		
		@media (max-width: 1630px)
			padding-bottom: 15px 
	
	&-label
		color: #344146
		text-transform: uppercase
		padding: 25px 42px 25px 25px
		position: relative
		width: 100% 
		text-align: left
		cursor: pointer
		background-color: transparent
		border: 0 
		
		@media (max-width: 1630px)
			font-size: 15px
			padding: 15px 32px 15px 15px 
		
		&:after
			content: ""
			width: 17px
			height: 17px
			position: absolute
			top: 50%
			right: 25px  
			-webkit-transform: translateY(-50%) rotate(180deg)
			-moz-transform: translateY(-50%) rotate(180deg)
			-ms-transform: translateY(-50%) rotate(180deg)
			-o-transform: translateY(-50%) rotate(180deg)
			transform: translateY(-50%) rotate(180deg)
			background-image: url(../img/filter-arrow.svg)
			background-repeat: no-repeat 
			background-size: 100%
			-webkit-transition: all 0.3s ease 
			-moz-transition: all 0.3s ease 
			-ms-transition: all 0.3s ease 
			-o-transition: all 0.3s ease 
			transition: all 0.3s ease 
			
			@media (max-width: 1630px)
				right: 15px
				
		&.hidden:after
			-webkit-transform: translateY(-50%) rotate(0deg)
			-moz-transform: translateY(-50%) rotate(0deg)
			-ms-transform: translateY(-50%) rotate(0deg)
			-o-transform: translateY(-50%) rotate(0deg)
			transform: translateY(-50%) rotate(0deg)
	
	&-content
		padding: 0 25px
		
		@media (max-width: 1630px)
			padding: 0 15px
		
		.checkbox
			display: block
			
			@media (max-width: 1630px)
				.label
					font-size: 14px
			
			&:not(:last-child)
				margin-bottom: 8px
				
.range-inputs
	+flex($j: space-between)

	input
		width: 100px
		height: 50px  
		color: #344146
		text-align: center
		font-weight: 600
		border: 1px solid #dddddd
		
		@media (max-width: 1630px)
			width: 90px 
			height: 40px
			
.range-slider
	margin-top: 45px 
	margin-bottom: 9px
	height: 6px
	background-color: #d8d8d8
	position: relative
	
	.ui-slider-range
		height: 100%
		background-color: $red 
		position: absolute
		z-index: 1 
	
	.ui-slider-handle
		position: absolute
		width: 24px
		height: 24px
		z-index: 3 
		-webkit-border-radius: 50% 
		border-radius: 50% 
		background-color: #fff
		border: 2px solid $red  
		-webkit-transform: translate(-50%, -50%) 
		-moz-transform: translate(-50%, -50%) 
		-ms-transform: translate(-50%, -50%) 
		-o-transform: translate(-50%, -50%) 
		transform: translate(-50%, -50%) 
		top: 50% 
		cursor: pointer


.filter-reset
	padding: 40px 15px
	


.sort-by
	position: absolute
	top: -6px
	right: 0 
	z-index: 12 
	
	.sort-button
		width: 240px
		height: 50px
		border-radius: 25px
		padding: 0 50px 0 20px
		text-align: left 
		border: 0
		background-color: #fff 
		cursor: pointer
		color: #666666
		
		&:after
			content: ""
			width: 17px
			height: 17px
			position: absolute
			top: 50%
			right: 17px  
			-webkit-transform: translateY(-50%) rotate(0deg)
			-moz-transform: translateY(-50%) rotate(0deg)
			-ms-transform: translateY(-50%) rotate(0deg)
			-o-transform: translateY(-50%) rotate(0deg)
			transform: translateY(-50%) rotate(0deg)
			background-image: url(../img/filter-arrow.svg)
			background-repeat: no-repeat 
			background-size: 100%
			-webkit-transition: all 0.3s ease 
			-moz-transition: all 0.3s ease 
			-ms-transition: all 0.3s ease 
			-o-transition: all 0.3s ease 
			transition: all 0.3s ease 
		
		span
			display: block
			
	&.open .sort-button:after
		-webkit-transform: translateY(-50%) rotate(180deg);
		-moz-transform: translateY(-50%) rotate(180deg);
		-ms-transform: translateY(-50%) rotate(180deg);
		-o-transform: translateY(-50%) rotate(180deg);
		transform: translateY(-50%) rotate(180deg);
			
	.sort-dropdown
		position: absolute
		top: 100%
		width: 100%
		left: 0
		right: 0
		overflow: hidden
		background-color: #fff
		z-index: 10  
		border-radius: 25px
		opacity: 0
		visibility: hidden
		-webkit-transform: translateY(12px) 
		-moz-transform: translateY(12px) 
		-ms-transform: translateY(12px) 
		-o-transform: translateY(12px) 
		transform: translateY(12px) 
		-webkit-transition: all 0.3s ease 
		-moz-transition: all 0.3s ease 
		-ms-transition: all 0.3s ease 
		-o-transition: all 0.3s ease 
		transition: all 0.3s ease 
		
		&-item:not(:last-child)
			border-bottom: 1px solid #eee
			
		a
			display: block
			padding: 10px 20px
			color: #666666
			-webkit-transition: all 0.3s ease 
			-moz-transition: all 0.3s ease 
			-ms-transition: all 0.3s ease 
			-o-transition: all 0.3s ease 
			transition: all 0.3s ease 
		
		&-item.active a,
		&-item a:hover
			background-color: $red
			color: #fff 
			
	&.open .sort-dropdown
		opacity: 1
		visibility: visible
		-webkit-transform: translateY(4px) 
		-moz-transform: translateY(4px) 
		-ms-transform: translateY(4px) 
		-o-transform: translateY(4px) 
		transform: translateY(4px) 