.site-header
	&-top
		background-color: #FFF 
		padding: 30px 0
		+flex($ai: center)
		
		.logo
			width: 20% 
			padding: 0 25px
			
			img
				display: block
				max-width: 100% 
				

		.user-area
			width: 26%
			text-align: right
			padding: 0 25px
			
			.item-groups,
			.enter-cabinet
				display: inline-block
				vertical-align: middle
				
			.item-groups
				margin: 0 -7px
				
				@media (max-width: 1630px)
					margin: 0 -5px 
				
				.group
					display: inline-block
					vertical-align: middle
					width: 37px
					height: 37px
					position: relative
					margin: 0 7px
					
					@media (max-width: 1630px)
						width: 32px
						height: 32px
						margin: 0 5px
					
					
					img
						max-width: 100%
						position: absolute
						top: 50%
						left: 50%
						-webkit-transform: translate(-50%, -50%) 
						-moz-transform: translate(-50%, -50%) 
						-ms-transform: translate(-50%, -50%) 
						-o-transform: translate(-50%, -50%) 
						transform: translate(-50%, -50%)
						z-index: 1 
						
					.count
						width: 20px
						height: 20px
						background-color: $red
						-webkit-border-radius: 50% 
						border-radius: 50%  
						color: #fff
						position: absolute
						z-index: 2 
						top: 0
						right: 0  
						text-align: center 
						line-height: 18px 
						font-size: 14px 
			
			.enter-cabinet
				padding-left: 25px
				
				@media (max-width: 1630px)
					padding-left: 10px 
				 
				.icon,
				.label
					display: inline-block
					vertical-align: middle
					
				.label
					color: $blue
					font-weight: 300
					line-height: 18px
					max-width: 70px
			
		.search
			width: 54% 
			


.search-form
	position: relative
	width: 100%
	
	input
		display: block
		width: 100%
		height: 60px
		border: 2px solid #eeeeee
		padding: 0 80px 0 25px
		font-size: 15px
		font-weight: 300
		color: #aaa
		
		@media (max-width: 1630px)
			height: 50px 
		
	.search-button
		position: absolute
		right: 0
		top: 0
		bottom: 0
		width: 60px
		height: 60px
		background-color: transparent
		background-position: 50% 50%
		background-repeat: no-repeat 
		cursor: pointer 
		background-image: url(../img/search.svg) 
		border: 0
		-webkit-transition: all 0.3s ease 
		-moz-transition: all 0.3s ease 
		-ms-transition: all 0.3s ease 
		-o-transition: all 0.3s ease 
		transition: all 0.3s ease 
		
		@media (max-width: 1630px)
			width: 50px
			height: 50px 
		
		&:hover
			background-color: $red 