.productMainInfo
    margin-bottom: 20px
    @media (max-width: 991px)
        .row .row
            margin-left: 0
            margin-right: 0
            .row
                margin-left: -10px
                margin-right: -10px    
    .wrapper
        & > .row
            background-color: #FFF
            margin-left: 0
            margin-right: 0   
    &__list
        list-style-type: none
        font-weight: 300
        @media (max-width: 991px)
            border-top: 1px solid #eeeeee
            margin-top: 20px
            padding-top: 20px
            text-align: center  
        ul
            margin: 40px 0
            padding: 0 
            @media (max-width: 1200px)
                margin: 30px 0 
            @media (max-width: 991px)
                margin: 15px 0  
        li 
            display: block
            margin-bottom: 8px
            @media (max-width: 1200px)
                font-size: 14px
                margin-bottom: 4px 
            @media (max-width: 599px)
                font-size: 13px  
        .checkbox + .checkbox
            margin-left: 10px 
            
    &__side
        box-shadow: -2px 0 2px rgba(0, 0, 0, 0.05)
        @media (max-width: 991px)
            padding: 20px 0 
            box-shadow: none 
        p
            font-size: 15px
            font-style: italic
            font-weight: 300
            color: #aaaaaa
            margin-bottom: 20px
            &:last-child
                margin-bottom: 0
            @media (max-width: 1200px)
                font-size: 14px
                margin-bottom: 10px 
            @media (max-width: 599px)
                font-size: 13px   
        .sum-result 
            font-size: 34px
        div + .button
            margin-top: 20px 
        .row
            flex-direction: column
            height: 100% 
            align-items: stretch
            @media (max-width: 991px)
                height: auto
            & > div 
                flex: 2
                &:first-of-type
                    flex: 1
                border-bottom: 1px solid #eee
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                padding: 0 35px 
                &:last-child
                    border: none
                @media (max-width: 991px)
                    border: none
                    padding: 10px 
                    

.productSliderNav
    border-right: 1px solid #eeeeee
    padding: 35px 0

    @media (max-width: 991px)
        border: none
        min-height: 0 
    
    @media (max-width: 599px)
        padding: 20px 0
        
    .slick-slide
        text-align: center
        width: 80px !important
        max-width: 100%
        float: none
        margin: 0 auto  
        height: 80px
        padding: 5px
        
        @media (max-width: 1199px)
            height: 70px
        
        @media (max-width: 599px)
            padding: 2px 0
            height: 60px
        
        @media (max-width: 500px)
            height: 60px
        
        @media (max-width: 400px)
            height: 50px
        
        & > div
            border: 3px solid transparent
            height: 100%
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
            cursor: pointer
            
            &:before
                height: 100% 
                content: ""
                display: inline-block
                vertical-align: middle 
            
            @media (max-width: 500px)
                border-width: 1px 
                
        &.slick-current
            & > div
                border-color: #ee474d
                
        img 
            display: inline-block
            vertical-align: middle
            max-width: 90%
            max-height: 90%  
            

.productSlider
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
    width: 490px
    max-width: 100% 
    margin: 0 auto 
    @media (max-width: 599px)
        width: 100% 
    @media (max-width: 500px)
        margin: 20px auto 
    .slick-slide
        background-color: #FFF 
        height: 390px
        text-align: center
        @media (max-width: 1200px)
            height: 300px 
        @media (max-width: 500px)
            height: 240px 
        @media (max-width: 400px)
            height: 200px 
        @media (max-width: 350px)
            height: 180px 
        img 
            display: inline-block
            vertical-align: middle
            max-width: 90%
            max-height: 90%  
        &:before
            height: 100% 
            content: ""
            display: inline-block
            vertical-align: middle   
            

.tabs-light
    background-color: #FFF
    text-align: left
    font-weight: 300 
    &__nav
        list-style-type: none
        border-bottom: 1px solid #eee
        +flex($j: flex-start)

        li 
            display: inline-block
            vertical-align: top
            height: 60px 
            text-align: center
            -webkit-transition: all 0.3s ease
            -moz-transition: all 0.3s ease
            -ms-transition: all 0.3s ease
            -o-transition: all 0.3s ease
            transition: all 0.3s ease
            
            @media (max-width: 991px)
                height: 50px
            
            &:hover
                background-color: #eee
                    
            &.ui-tabs-active
                background-color: #344146;
                a
                    color: #FFF 
                    
            a 
                color: #444444
                line-height: 60px
                padding: 0 40px
                display: inline-block  
                font-weight: 400
                
                @media (max-width: 991px)
                    line-height: 50px
                    padding: 0 20px
                
                strong
                    color: $red  
    
    &__tab
        table
            width: 660px
            
            @media (max-width: 991px)
                width: 100%
                
                tbody
                    font-size: 14px
                
                    td
                        padding: 8px
                
            @media (max-width: 599px)
                tbody
                    font-size: 13px



.article
    background-color: #FFF 
    padding: 45px 40px 
    margin-left: auto
    margin-right: auto  
    p
        margin-bottom: 20px
        font-size: 15px
        line-height: 22px  
        &:last-child
            margin-bottom: 0 
    & > div 
        &:last-child
            text-align: right
            img,
            video,
            iframe
                max-width: 100% 