.main-features-block
	background-color: #ffffff
	padding: 30px 0
	
	.feature-item
		text-align: center
		
		.icon
			margin-right: 20px
			display: inline-block
			vertical-align: top
			height: 49px
			
			img
				max-height: 100%
			
			@media (max-width: 1630px)
				display: block
				margin-right: 0;
				margin-bottom: 10px
			
		.text
			display: inline-block
			text-align: left
			color: $red
			font-weight: 300
			vertical-align: top
			
			a
				color: inherit
			
			a[href^=mailto]
				text-decoration: underline
			
			@media (max-width: 1630px)
				display: block
				text-align: center
			
			.title
				text-transform: uppercase
				font-size: 15px
				color: $text 
				margin-bottom: 5px
				font-weight: 400
				
		&.reverse-color
			.text
				color: $text
				
				.title
					color: $red
				

.subscribe-block
	background-position: 50% 50%
	background-repeat: no-repeat
	-webkit-background-size: cover
	-o-background-size: cover 
	background-size: cover
	position: relative 
	padding: 90px 0 
	color: #fff
	z-index: 1 
	
	&:after
		content: ''
		position: absolute
		width: 100%
		top: 0
		right: 0
		bottom: 0
		left: 0
		background-color: $red 
		opacity: 0.96
		z-index: -1 
		
	h2
		font-size: 24px
		font-weight: 600
		text-transform: uppercase
		margin-bottom: 30px
		text-decoration: underline
		
	p
		font-weight: 300
		line-height: 22px
		margin-bottom: 66px
		



.quick-link
	display: block
	width: 100%
	-webkit-background-size: cover 
	-o-background-size: cover 
	background-size: cover 
	background-repeat: no-repeat 
	background-position: 50% 50%
	position: relative 
	padding-top: 62%
	z-index: 1 
	
	&:after
		content: ''
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0 
		background-color: #000
		opacity: 0.1
		z-index: -1   
		
	.label
		position: absolute
		left: 0
		right: 0
		bottom: 0
		color: #fff
		text-align: left
		padding: 20px 30px 22px
		text-transform: uppercase 
		font-size: 15px
		
		&.green
			background-image: linear-gradient(270deg, rgba(141, 214, 235, 0) 0%, #71ba51 100%)
			
		&.blue
			background-image: linear-gradient(270deg, rgba(141, 214, 235, 0) 0%, #54acd2 100%)
			


.special-products
	padding: 0 100px 
	background-color: #dddddd
	
	@media (max-width: 1630px)
		padding: 0 50px 
	

	&-slider
		padding: 75px 0 25px 100px 
		position: relative
		margin-bottom: 0!important
		
		@media (max-width: 1630px)
			padding: 50px 0 50px 50px
		
		.slide-image
			img
				display: block
				width: 100%
				
		.slide-content
			text-align: left
			
			&-title
				font-size: 24px
				font-weight: 600
				text-transform: uppercase
				color: $text
				margin-bottom: 10px
				
			&-description
				color: #344146
				font-weight: 300
				line-height: 22px
				margin-bottom: 30px
				
			.countdown
				margin-top: 48px
				
		.slick-dots
			top: 50%
			bottom: auto
			left: 0
			-webkit-transform: translate(-50%, -50%) 
			-moz-transform: translate(-50%, -50%) 
			-ms-transform: translate(-50%, -50%) 
			-o-transform: translate(-50%, -50%) 
			transform: translate(-50%, -50%) 
			width: auto
			
			li
				display: block
				width: 14px
				height: 14px
				margin: 10px 0
				
				button
					position: absolute
					top: 50%
					left: 50%
					-webkit-transform: translate(-50%, -50%) 
					-moz-transform: translate(-50%, -50%) 
					-ms-transform: translate(-50%, -50%) 
					-o-transform: translate(-50%, -50%) 
					transform: translate(-50%, -50%)
					width: 8px
					height: 8px
					background-color: #aaaaaa
					opacity: 0.6
					-webkit-transition: all 0.3s ease 
					-moz-transition: all 0.3s ease 
					-ms-transition: all 0.3s ease 
					-o-transition: all 0.3s ease 
					transition: all 0.3s ease 
					border-radius: 50%
					
					&:before
						display: none
						
				&.slick-active
					button
						width: 100%
						height: 100%
						background-color: $red
						opacity: 1
						



.distributors
	background-color: #FFF 
	padding: 50px 10px
	text-align: center
	
	img
		display: block
		max-width: 100%
		margin: 0 auto